# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
Lab02/.idea/**/workspace.xml
Lab02/.idea/**/tasks.xml
Lab02/.idea/dictionaries

# Sensitive or high-churn files:
Lab02/.idea/**/dataSources/
Lab02/.idea/**/dataSources.ids
Lab02/.idea/**/dataSources.xml
Lab02/.idea/**/dataSources.local.xml
Lab02/.idea/**/sqlDataSources.xml
Lab02/.idea/**/dynamic.xml
Lab02/.idea/**/uiDesigner.xml

# Gradle:
Lab02/.idea/**/gradle.xml
Lab02/.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
Lab02/.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
Lab02/out/

# mpeltonen/sbt-idea plugin
Lab02/.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
Lab02/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties